
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    gap: 15px;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;

    animation: bounce 1s infinite;
}

.circle1 {
    animation-delay: 0s;
}

.circle2 {
    animation-delay: 0.2s;
}

.circle3 {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

